@font-face {
    font-family: 'Calculator';
    src: url('Calculator.ttf');
  }
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body,html { 
    font: 62.5%/1.5  "Lucida Grande", "Lucida Sans", Tahoma, Verdana, sans-serif;  
    color: #000000;     
    text-align:center; 
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
} 
.calculator{
    width: 350px;
    height: 600px;
    border: 1px solid #33415c;
    display: grid;
    background-color: #22223b;
    padding: 5px;
    border-radius: 10px;
}
.displayscr{
    border:1px solid black;
    width: 310px;
    height: 140px;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-left:auto;
    margin-right: auto;
    background-color: #17c3b2;
    font-family: 'Calculator',sans-serif;
      
}
.operationBtns{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    row-gap: 3px;
    column-gap: 5px;
    
}
.operationBtns button{
    background-color: #4a4e69;
    font-size: 5em;
    border: 1px solid #14213d;
    border-radius: 20px;
    color: #f8f7ff;
}
.operationBtns button:hover{
    background-color: #001233;
}
.display{
    width:100%;
    height: 50%;
    font-size: 10em;
    text-align: right;
    margin-bottom: 5px;
    margin-right: 5px;
    overflow: hidden;
}
.equals{
    grid-row: 5/6;
    grid-column: 3/5;
}
.clear{
    grid-row: 3/5;
    grid-column: 4/5;

}